body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Muli', sans-serif;
  /* original font
  font-family: "Roboto", sans-serif;
  */
}
body {
  background-color: rgba(124, 105, 106, .3);
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;

}

h1 {
  font-size: 40px;
  color: rgba(64, 45, 46, 1);
  /*original color
  color: #f5a623;
  */
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: rgba(65, 46, 44, 1);
  /*color: #999;*/
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: bold;
  font-size: 20px;
  color: rgba(124, 105, 106, 1);
  /*color: #999;*/
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: rgba(124, 105, 106, 1);
  /*color: #999;*/
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: rgba(124, 105, 106, 1);
  /*color: #999;*/
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #8c9657;
  /*
  color: #333;
  */
  line-height: 21px;
}

a {
  color: #1199c3;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: rgba(65, 46, 44, 1);
  /*
  color: #f5ae23;
  */
  display: none;
}

#skills {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.orange {
  background-color: rgba(124, 105, 106, 0.5);
   /* original color
  background-color: #f5ae23;
  */
}

.orange-text {
  color: rgba(65, 46, 44, 1);
  /* original color
  color: #f5ae23;
  */
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  /* in the original file used for Work Experience and education*/
  background-color: rgba(140, 150, 87, 0.2);
  /* original color
  background-color: #f3f3f3;
  */
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  /* in the original file used for footer*/
  background-color: rgba(140, 150, 87, 0.7);
  /* original color
  background-color: #4a4a4a;
  */
}

.url-link {
  -webkit-tap-highlight-color: #000;

  /*color: -webkit-link; */

  cursor: auto;

}
.url-link:hover {
  color: blue;
}
/* TODO: Replace with image later */
#header,
#navbar {
  background-color: rgba(140, 150, 87, 0.5);
  /* original color
  background-color: #484848;
  */
}


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

nav {
  margin: 0px;
  width: 100%;
  /* background-color: #4a4a4a; */
  padding-bottom: 50px;
  list-style: none;
}

.navbr:hover {
  color: blue;
}

nav li {
  float: left;
  /*background-color: #4a4a4a; */
  width: 25%;
  position: relative;

}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  border-radius: 50%;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
  padding-left: 10px;
  padding-left: 0;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

/* try this css for highlighting url links -webkit-tap-highlight-color: rgba(0,0,0,0);
