body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Muli', sans-serif;
}

body {
  background-color: rgba(124, 105, 106, .3);
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 20px 5%;

}

h1 {
  font-size: 40px;
  color: rgba(64, 45, 46, 1);
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: rgba(65, 46, 44, 1);
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  color: rgba(65, 46, 44, 1);
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}
#online-h3 {
  padding-top: 20px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: rgba(124, 105, 106, 1);
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: rgba(124, 105, 106, 1);
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #8c9657;
  line-height: 21px;
}

a {
  color: #0A5FB0;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}
/* what welcome message? did I miss something in the videos?
.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}
*/
#skills-h3 {
  color: rgba(65, 46, 44, 1);
  display: none;
}

#skills {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.chocolate-text {
  color: rgba(65, 46, 44, 1);
  /* original color
  color: #f5ae23;
  */
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.pale-blue {
  background-color: rgba(172, 188, 201, 0.4);
  padding-bottom: 10px;
  clear:both;
}

#footerContacts {
  background-color: rgba(172, 188, 201, 1);
}

.url-link {
  -webkit-tap-highlight-color: #000;
  color: #8c9657;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 0;
  cursor: auto;

}
.url-link:hover {
  color: blue;
}

#header,
#navbar {
  background-color: rgba(172, 188, 201, 1);
}


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

nav {
  margin: 0px;
  width: 100%;
  padding-bottom: 50px;
  list-style: none;
}

.navbr:hover {
  color: #8c9657;
}

nav li {
  float: left;
  width: 20%;
  position: relative;

}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  border-radius: 50%;
  display: none;
}

img {
  padding: 10px;
  padding-left: 0;
  padding-right: 20px;

}

span {
  padding: 5px;
  padding-left: 10px;

}

#lets-connect {
  text-align: center;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}


